In [1]:
## [1-1] 모듈 로딩 
import pandas as pd      # 데이터 분석 및 전처리 관련 모듈 
import numpy as np       # NaN/NAN/nan 즉, 빈칸 표시 관련 모듈
from landamark import *
from pay import *
from traffic_sat import *
from visitor import *

import matplotlib.pyplot as plt
import seaborn as sns

c:\Users\kdp\Desktop\KDT 7\1.프로젝트\visitor.py:8: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  tourist_statics1.fillna(method='ffill', inplace=True)
c:\Users\kdp\Desktop\KDT 7\1.프로젝트\visitor.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF.drop_duplicates(inplace=True)

In [2]:
'''
총 11개
DF: 대단위 소단위 분기별 방문객수
region_sum_DF: 대단위 분기별 방문객 수
region_all_sum_DF: 대단위 별 연간 방문객 수
season_region_DF: 대단위 분기별 최다 방문객 소단위
total_region_DF: 대단위 별 연간 최다 방문객 소단위
landmarkDF: all_sheet의 관광지 명까지의 DataFrame
landmark_smallDF: 각 구/군별로 관광지 수를 합한 DataFrame
landmark_best_smallDF: 대단위 내 가장 많은 관광지 수의 구/군 DataFrame
landmark_bigDF: 각 시별로 관광지 수를 합한 DataFrame
payDF: 지역별 지출액
traffic_satDF: 지역별 교통만족도
'''

'\n총 11개\nDF: 대단위 소단위 분기별 방문객수\nregion_sum_DF: 대단위 분기별 방문객 수\nregion_all_sum_DF: 대단위 별 연간 방문객 수\nseason_region_DF: 대단위 분기별 최다 방문객 소단위\ntotal_region_DF: 대단위 별 연간 최다 방문객 소단위\nlandmarkDF: all_sheet의 관광지 명까지의 DataFrame\nlandmark_smallDF: 각 구/군별로 관광지 수를 합한 DataFrame\nlandmark_best_smallDF: 대단위 내 가장 많은 관광지 수의 구/군 DataFrame\nlandmark_bigDF: 각 시별로 관광지 수를 합한 DataFrame\npayDF: 지역별 지출액\ntraffic_satDF: 지역별 교통만족도\n'

In [3]:
total_region_DF

         시도       군구       총 인원수
0     서울특별시       중구   8655443.0
1     부산광역시      사하구   2908446.0
2     대구광역시      달서구   6776746.0
3     인천광역시      강화군   2257728.0
4     광주광역시       북구   3334999.0
5     대전광역시       서구   3781675.0
6     울산광역시       중구   3349963.0
7   세종특별자치시  세종특별자치시   1756043.0
8       경기도      용인시  11241702.0
9   강원특별자치도      정선군  18022809.0
10     충청북도      제천시  10309789.0
11     충청남도      부여군   4526818.0
12     전라북도      군산시   5520292.0
13     전라남도      순천시  12000529.0
14     경상북도      김천시  10352079.0
15     경상남도      거제시   5333703.0
16  제주특별자치도     서귀포시   6919471.0

In [4]:
# 결측치 확인
print("교통만족도 데이터 결측치:\n", traffic_satDF.isnull().sum())
print("총 인구 수 데이터 결측치:\n", total_region_DF.isnull().sum())

교통만족도 데이터 결측치:
 시도       0
교통만족도    0
dtype: int64
총 인구 수 데이터 결측치:
 시도       0
군구       0
총 인원수    0
dtype: int64

In [6]:
print(traffic_satDF.head())

   시도  교통만족도
0  서울   73.4
1  부산   74.2
2  대구   75.1
3  인천   75.0
4  광주   78.8

In [7]:
print(traffic_satDF.index)

RangeIndex(start=0, stop=17, step=1)

In [8]:
print(traffic_satDF.columns)

Index(['시도', '교통만족도'], dtype='object')

In [9]:
print(traffic_satDF.values)

[['서울' 73.4]
 ['부산' 74.2]
 ['대구' 75.1]
 ['인천' 75.0]
 ['광주' 78.8]
 ['대전' 76.4]
 ['울산' 77.2]
 ['세종' 79.3]
 ['경기' 78.0]
 ['강원' 77.1]
 ['충북' 79.0]
 ['충남' 77.7]
 ['전북' 82.2]
 ['전남' 82.4]
 ['경북' 77.3]
 ['경남' 75.5]
 ['제주' 79.1]]

In [10]:
region_concat=pd.concat([traffic_satDF, total_region_DF], axis=1)
region_concat

    시도  교통만족도       시도       군구       총 인원수
0   서울   73.4    서울특별시       중구   8655443.0
1   부산   74.2    부산광역시      사하구   2908446.0
2   대구   75.1    대구광역시      달서구   6776746.0
3   인천   75.0    인천광역시      강화군   2257728.0
4   광주   78.8    광주광역시       북구   3334999.0
5   대전   76.4    대전광역시       서구   3781675.0
6   울산   77.2    울산광역시       중구   3349963.0
7   세종   79.3  세종특별자치시  세종특별자치시   1756043.0
8   경기   78.0      경기도      용인시  11241702.0
9   강원   77.1  강원특별자치도      정선군  18022809.0
10  충북   79.0     충청북도      제천시  10309789.0
11  충남   77.7     충청남도      부여군   4526818.0
12  전북   82.2     전라북도      군산시   5520292.0
13  전남   82.4     전라남도      순천시  12000529.0
14  경북   77.3     경상북도      김천시  10352079.0
15  경남   75.5     경상남도      거제시   5333703.0
16  제주   79.1  제주특별자치도     서귀포시   6919471.0

In [11]:
# 1번째와 4번째 컬럼 선택
selected_cols = [region_concat.columns[1], region_concat.columns[4]]
selected_df = region_concat[selected_cols]
selected_cols
selected_df

    교통만족도       총 인원수
0    73.4   8655443.0
1    74.2   2908446.0
2    75.1   6776746.0
3    75.0   2257728.0
4    78.8   3334999.0
5    76.4   3781675.0
6    77.2   3349963.0
7    79.3   1756043.0
8    78.0  11241702.0
9    77.1  18022809.0
10   79.0  10309789.0
11   77.7   4526818.0
12   82.2   5520292.0
13   82.4  12000529.0
14   77.3  10352079.0
15   75.5   5333703.0
16   79.1   6919471.0

In [12]:
col1 = selected_df.columns[0]
col2 = selected_df.columns[1]

In [13]:
# 상관관계 계산
correlation = selected_df[col1].corr(selected_df[col2])

In [14]:
# 결과 출력
print(f"{col1}과 {col2} 간의 상관관계: {correlation:.2f}")

교통만족도과 총 인원수 간의 상관관계: 0.18