[1] 지역별 지출액 자료 <hr>

In [50]:
## [1-1] 모듈 로딩 
import pandas as pd      # 데이터 분석 및 전처리 관련 모듈 
import numpy as np       # NaN/NAN/nan 즉, 빈칸 표시 관련 모듈
from landamark import *
from pay import *
from traffic_sat import *
from visitor import *

import matplotlib.pyplot as plt
import seaborn as sns

In [51]:
'''
총 11개
DF: 대단위 소단위 분기별 방문객수
region_sum_DF: 대단위 분기별 방문객 수
region_all_sum_DF: 대단위 별 연간 방문객 수
season_region_DF: 대단위 분기별 최다 방문객 소단위
total_region_DF: 대단위 별 연간 최다 방문객 소단위
landmarkDF: all_sheet의 관광지 명까지의 DataFrame
landmark_smallDF: 각 구/군별로 관광지 수를 합한 DataFrame
landmark_best_smallDF: 대단위 내 가장 많은 관광지 수의 구/군 DataFrame
landmark_bigDF: 각 시별로 관광지 수를 합한 DataFrame
payDF: 지역별 지출액
traffic_satDF: 지역별 교통만족도
'''

'\n총 11개\nDF: 대단위 소단위 분기별 방문객수\nregion_sum_DF: 대단위 분기별 방문객 수\nregion_all_sum_DF: 대단위 별 연간 방문객 수\nseason_region_DF: 대단위 분기별 최다 방문객 소단위\ntotal_region_DF: 대단위 별 연간 최다 방문객 소단위\nlandmarkDF: all_sheet의 관광지 명까지의 DataFrame\nlandmark_smallDF: 각 구/군별로 관광지 수를 합한 DataFrame\nlandmark_best_smallDF: 대단위 내 가장 많은 관광지 수의 구/군 DataFrame\nlandmark_bigDF: 각 시별로 관광지 수를 합한 DataFrame\npayDF: 지역별 지출액\ntraffic_satDF: 지역별 교통만족도\n'

In [52]:
# [분석1]
# 지역별 교통만족도 & 시도별 연간 총 방문객 수 연관
# 타입: 숫자비교

In [53]:
# [분석2]
# 지역별 지출액 & 시도별 연간 총 방문객 수 연관
# 타입: 숫자비교

In [54]:
# [분석3]
# 지역별 시도별 관광지 수 & 시도별 연간 총 방문객 수 연관
# 타입: 숫자비교

In [55]:
# [분석4]
# 지역별 시도별 내 최다 관광지 수 구/군 & 시도별 내 최다 방문개 수 구/군
# 타입: 문자 비교 -> 확률

In [56]:
# [분석5]
# 분기별 지역 축제 수 & 시도별 내 최다 방문개 수 구/군
# 타입: 숫자비교

In [57]:
landmark_best_smallDF

         시도       군구  관광지 수
0     서울특별시      종로구      4
1     부산광역시       북구      4
2     대구광역시       동구     21
3     인천광역시      강화군     14
4     광주광역시       동구     14
5     대전광역시      유성구      9
6     울산광역시      울주군     17
7   세종특별자치시  세종특별자치시     14
8       경기도      용인시     36
9   강원특별자치도      춘천시     39
10     충청북도      충주시     43
11     충청남도      부여군     31
12     전라북도      익산시     27
13     전라남도      순천시     38
14     경상북도      포항시     38
15     경상남도      거제시     86
16  제주특별자치도     서귀포시     20

In [58]:
total_region_DF

         시도       군구     총 인원수
0     서울특별시       중구   8655443
1     부산광역시      사하구   2908446
2     대구광역시      달서구   6776746
3     인천광역시      강화군   2257728
4     광주광역시       북구   3334999
5     대전광역시       서구   3781675
6     울산광역시       중구   3349963
7   세종특별자치시  세종특별자치시   1756043
8       경기도      용인시  11241702
9   강원특별자치도      정선군  18022809
10     충청북도      제천시  10309789
11     충청남도      부여군   4526818
12     전라북도      군산시   5520292
13     전라남도      순천시  12000529
14     경상북도      김천시  10352079
15     경상남도      거제시   5333703
16  제주특별자치도     서귀포시   6919471

In [132]:
# 데이터 타입 확인
print(landmark_best_smallDF.dtypes)
print(total_region_DF.dtypes)

시도       object
군구       object
관광지 수     int64
dtype: object
시도       object
군구       object
총 인원수     int64
dtype: object

In [131]:
# 공통된 열 기준으로 병합 (예: 'region' 등의 공통 컬럼)
merged_df = landmark_best_smallDF.merge(total_region_DF, on='군구', how='inner')
merged_df

      시도_x       군구  관광지 수     시도_y     총 인원수
0    부산광역시       북구      4    광주광역시   3334999
1    인천광역시      강화군     14    인천광역시   2257728
2  세종특별자치시  세종특별자치시     14  세종특별자치시   1756043
3      경기도      용인시     36      경기도  11241702
4     충청남도      부여군     31     충청남도   4526818
5     전라남도      순천시     38     전라남도  12000529
6     경상남도      거제시     86     경상남도   5333703
7  제주특별자치도     서귀포시     20  제주특별자치도   6919471

In [97]:
print(merged_df.shape)
print(landmark_best_smallDF['군구'].unique())
print(total_region_DF['군구'].unique())

(8, 5)
['종로구' '북구' '동구' '강화군' '유성구' '울주군' '세종특별자치시' '용인시' '춘천시' '충주시' '부여군' '익산시'
 '순천시' '포항시' '거제시' '서귀포시']
['중구' '사하구' '달서구' '강화군' '북구' '서구' '세종특별자치시' '용인시' '정선군' '제천시' '부여군' '군산시'
 '순천시' '김천시' '거제시' '서귀포시']

In [84]:
# 숫자타입만 추출
numeric_cols = merged_df.select_dtypes(include=['float64', 'int64']).columns

In [85]:

merged_df_cleaned = merged_df[numeric_cols].dropna()

In [96]:
correlation = merged_df_cleaned.corr()
print(correlation)

          관광지 수     총 인원수
관광지 수  1.000000  0.330361
총 인원수  0.330361  1.000000